{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href="/static/assets/css/modal.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-info">
  {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Inventory</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Food</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Quantity</th>
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tag</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Expiration
                  </th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for food in table %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="/static/assets/img/food.jpg" class="avatar avatar-sm me-3" alt="user1">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ food.name }}</h6>
                        <!-- <p class="text-xs text-secondary mb-0">john@creative-tim.com</p> -->
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ food.quantity }}</p>
                    <!-- <p class="text-xs text-secondary mb-0">Organization</p> -->
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-dark">Vegetables</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ food.expiration_date }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <div class="ms-auto">
                      <a class="btn btn-link text-warning px-3 mb-0" href="#modal-edit"><i class="fas fa-pencil-alt me-2" aria-hidden="true"></i>Edit</a>
                      <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="#modal-delete"><i
                          class="far fa-trash-alt me-2"></i>Delete</a>
                    </div>
                  </td>
                </tr>

                <div id="modal-edit" class="modal-window">
                  <div>
                    <a href="#" title="Close" class="modal-close">Close</a>
                    <form method="POST" action="/food_update/{{ food.id }}">
                      <h1>Edit {{ food.name }}</h1>
                      <div class="ms-md-auto pe-md-4 d-flex align-items-center">
                        <h2> Name: </h2>
                        <div class="input-group">
                          <input type="text" class="form-control" value="{{ food.name }}">
                        </div>
                      </div>
                      <div class="ms-md-auto pe-md-4 d-flex align-items-center">
                        <h2> Quantity: </h2>
                        <div class="input-group">
                          <input type="number" class="form-control" value="{{ food.quantity }}">
                        </div>
                      </div>
                      <div class="ms-md-auto pe-md-4 d-flex align-items-center">
                        <h2> Expiration: </h2>
                        <div class="input-group">
                          <input type="date" class="form-control" value="{{ food.expiration_date }}">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="card mb-4">
                            <a class="btn modal-btn-confirm bg-gradient-success mb-0" href="javascript:;">Confirm</a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <div id="modal-delete" class="modal-window">
                  <div>
                    <a href="#" title="Close" class="modal-close">Close</a>
                    <form  id="delete-action-modal" method="POST" action="/food_delete/{{ food.id }}">
                      <h1>Delete {{ food.name }}</h1>
                      <div class="ms-md-auto pe-md-4 d-flex align-items-center">
                        Are you sure you want to delete {{ food.name }}
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="card mb-4">
                            <a class="btn modal-btn-confirm bg-gradient-success mb-0" href="javascript:;" onclick="document.getElementById('delete-action-modal').submit();">Confirm</a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <a class="btn bg-gradient-success mb-0" href="javascript:;"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add New
          Food</a>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Projects table</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center justify-content-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Budget</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">
                    Completion</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex px-2">
                      <div>
                        <img src="/static/assets/img/small-logos/logo-spotify.svg"
                          class="avatar avatar-sm rounded-circle me-2" alt="spotify">
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm">Spotify</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">$2,500</p>
                  </td>
                  <td>
                    <span class="text-xs font-weight-bold">working</span>
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center">
                      <span class="me-2 text-xs font-weight-bold">60%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle">
                    <button class="btn btn-link text-secondary mb-0">
                      <i class="fa fa-ellipsis-v text-xs"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2">
                      <div>
                        <img src="/static/assets/img/small-logos/logo-invision.svg"
                          class="avatar avatar-sm rounded-circle me-2" alt="invision">
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm">Invision</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">$5,000</p>
                  </td>
                  <td>
                    <span class="text-xs font-weight-bold">done</span>
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center">
                      <span class="me-2 text-xs font-weight-bold">100%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle">
                    <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-xs"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2">
                      <div>
                        <img src="/static/assets/img/small-logos/logo-jira.svg"
                          class="avatar avatar-sm rounded-circle me-2" alt="jira">
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm">Jira</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">$3,400</p>
                  </td>
                  <td>
                    <span class="text-xs font-weight-bold">canceled</span>
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center">
                      <span class="me-2 text-xs font-weight-bold">30%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="30" style="width: 30%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle">
                    <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-xs"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2">
                      <div>
                        <img src="/static/assets/img/small-logos/logo-slack.svg"
                          class="avatar avatar-sm rounded-circle me-2" alt="slack">
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm">Slack</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">$1,000</p>
                  </td>
                  <td>
                    <span class="text-xs font-weight-bold">canceled</span>
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center">
                      <span class="me-2 text-xs font-weight-bold">0%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="0" style="width: 0%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle">
                    <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-xs"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2">
                      <div>
                        <img src="/static/assets/img/small-logos/logo-webdev.svg"
                          class="avatar avatar-sm rounded-circle me-2" alt="webdev">
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm">Webdev</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">$14,000</p>
                  </td>
                  <td>
                    <span class="text-xs font-weight-bold">working</span>
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center">
                      <span class="me-2 text-xs font-weight-bold">80%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="80" style="width: 80%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle">
                    <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-xs"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex px-2">
                      <div>
                        <img src="/static/assets/img/small-logos/logo-xd.svg"
                          class="avatar avatar-sm rounded-circle me-2" alt="xd">
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm">Adobe XD</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">$2,300</p>
                  </td>
                  <td>
                    <span class="text-xs font-weight-bold">done</span>
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center">
                      <span class="me-2 text-xs font-weight-bold">100%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle">
                    <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-xs"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!--Add food-->
  <div class="column">
    <div class="box">
      <form method="POST" action="/food_create">
        <div class="field is-horizontal">
          <div class="field-body">

            <div class="field">
              <div class="control">
                <input class="input is-large" type="text" name="food" placeholder="food" autofocus="">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input is-large" type="number" name="quantity" placeholder="quantity" autofocus="">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input is-large" type="date" name="expiration_date" placeholder="expiration">
              </div>
            </div>

            <button class="button is-block is-info is-large">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}