<!--Modal for updating food item-->
<div id="modal-food-update" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edit <i>{{ food.name }}</i></p>
      <button class="delete is-danger is-large" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form method="POST" action="/food_update/{{ food.id }}">
        <div class="field">
          <div class="control">
            <input class="input is-large" type="text" name="food" placeholder="food" autofocus=""
              value="{{ food.name }}">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-large" type="number" name="quantity" placeholder="quantity" autofocus=""
              value="{{ food.quantity }}">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-large" type="date" name="expiration_date" placeholder="expiration"
              value="{{ food.expiration_date }}">
          </div>
        </div>

        <button class="button is-block is-info is-large is-fullwidth">Save</button>
      </form>
    </section>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>